:global(.hidden) {
  display: none;
}

body, html {
  height: 100%;
}

.theme-toggle-btn {
  cursor: pointer;
  display: inline-block;
  &:hover {
    outline: 1px solid red;
  }
}

@media print {
  .no-print { display: none; }
  .page-break	{ display: block; page-break-before: always; }
}
